{% load static %}

<header>
    <a href="{% url 'home' %}" id="logo">
        <img src="{% static 'img/logo.svg' %}" alt="">
        <img src="{% static 'img/logoText.svg' %}" alt="">
    </a>
    <input type="checkbox" id="check">
    <label id="hamburger" for="check">
        <span></span>
    </label>
    <ul class="menu">
        {% if user.is_authenticated %}
            <li class="mobileLi">
                <a class="loginButton">
                    <img style="min-width: 20px; transform: rotate(0deg)" src="{% static 'img/loginIcon.svg' %}">
                </a>
                <nav class="signedInNav">
                    <a href="">
                        <div>
                            <h5>{{ user.email }}</h5>
                            <h5 class="gold">
                                <img src="{% static 'img/diamond.png' %}" alt="">
                                VIP 0
                                <span>Не подтверждено</span>
                            </h5>
                        </div>
                        <img src="{% static 'img/next.png' %}" alt="">
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/shield.png' %}" alt="">
                        Безопасность
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/credit-card.png' %}" alt="">
                        Верификация
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/plug.png' %}" alt="">
                        Управление API
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/tickets.png' %}" alt="">
                        Центр наград
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/clipboard.png' %}" alt="">
                        Центр заданий
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/referral.png' %}" alt="">
                        Реферальная программа
                        <span>Earn bonus</span>
                    </a>
                    <a href="{% url 'logout' %}" class="iconButton borderTopButton">
                        <img src="{% static 'img/power-off.png' %}" alt="">
                        Выйти
                    </a>
                </nav>
            </li>
        {% else %}
            <li class="mobileLi">
                <a href="#/" class="loginButton js-openLoginModal">Вход</a>
            </li>
            <li class="mobileLi">
                <a href="#/" class="signUpButton">Регистрация</a>
            </li>
        {% endif %}
        <li>
            <a href="#/" class="menuButton">
                Новости
                <img src="{% static 'img/tri.svg' %}" alt="">
            </a>
            <nav>
                <a href="news.html">
                    <img src="{% static 'img/circle.svg' %}" alt="">
                    новости
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </a>
                <a href="analytics.html">
                    <img src="{% static 'img/circle.svg' %}" alt="">
                    аналитика
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </a>
                <a href="signals.html">
                    <img src="{% static 'img/circle.svg' %}" alt="">
                    сигналы
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </a>
            </nav>
        </li>
        <li>
            <a href="">Поддержка</a>
        </li>
        <li>
            <a href="#/" class="menuButton">
                Финансы
                <img src="{% static 'img/tri.svg' %}" alt="">
            </a>
            <nav>
                <a href="{% url 'exchange' %}">
                    <img src="{% static 'img/circle.svg' %}" alt="">
                    обмен
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </a>
                <a href="balances.html">
                    <img src="{% static 'img/circle.svg' %}" alt="">
                    балансы
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </a>
                <a href="history.html">
                    <img src="{% static 'img/circle.svg' %}" alt="">
                    история
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit.</p>
                </a>
            </nav>
        </li>
    </ul>
    {% if user.is_authenticated %}
        <div class="rightPart">
            <div class="signedInPanel">
                <a href="##" class="loginButton">
                    <img style="margin-right: 12px" src="{% static 'img/loginIcon.svg' %}">
                </a>
                <nav class="signedInNav">
                    <a href="">
                        <div>
                            <h5>{{ user.email }}</h5>
                            <h5 class="gold">
                                <img src="{% static 'img/diamond.png' %}" alt="">
                                VIP 0
                                <span>Не подтверждено</span>
                            </h5>
                        </div>
                        <img src="{% static 'img/next.png' %}" alt="">
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/shield.png' %}" alt="">
                        Безопасность
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/credit-card.png' %}" alt="">
                        Верификация
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/plug.png' %}" alt="">
                        Управление API
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/tickets.png' %}" alt="">
                        Центр наград
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/clipboard.png' %}" alt="">
                        Центр заданий
                    </a>
                    <a href="" class="iconButton">
                        <img src="{% static 'img/referral.png' %}" alt="">
                        Реферальная программа
                        <span>Earn bonus</span>
                    </a>
                    <a href="{% url 'logout' %}" class="iconButton borderTopButton">
                        <img src="{% static 'img/power-off.png' %}" alt="">
                        Выйти
                    </a>
                </nav>
            </div>
        </div>
    {% else %}
        <div class="rightPart">
            <a href="#/" class="loginButton js-openLoginModal">
                Вход
            </a>
            <a href="#/" class="signUpButton">
                Регистрация
            </a>
        </div>
    {% endif %}
</header>
