{% extends 'base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/exchange.css' %}">
{% endblock %}

{% block title %}Объмен{% endblock %}

{% block content %}
    {% include 'components/modal-exchange.html' %}
    {% include 'components/modal-finish-exchange.html' %}
    <main>
        {% csrf_token %}
        <h2 class="sectionTitle">Обмен</h2>
        <div class="calc">
            <h2>Калькулятор обмена пар</h2>
            <div>
                <div class="leftOption">
                    <h4>мин. сумма</h4>
                    <h4>1000 RUB</h4>
                </div>
                <div class="rightOption">
                    <h4>Доступно</h4>
                    <h4>
                        <span id="btc"
                              style="display: none">{{ user_profile.btc_value }} BTC</span>
                        <span id="rub">{{ user_profile.rub_value }} RUB</span>
                    </h4>
                </div>
            </div>
            <div class="inputContainer js-oneInput">
                <input type="number" placeholder="1 Руб. = 0,01415078 USD">
                <select name="" id="firstSelect">
                    <option value="₽" name="rub">₽</option>
                    <option value="₿" name="btc">₿</option>
                </select>
                <img src="{% static 'img/orangeArrow.svg' %}" alt=""
                     class="orangeArrow">
            </div>
            <div>
                <div class="leftOption">
                    <h4>курс обмена</h4>
                    <h4>1 BTC = {{ currency.one_btc_in_rub }} RUB</h4>
                </div>
                <div class="rightOption">
                    <a href="#/" id="currencyButton">
                        <img src="{% static 'img/arrows.svg' %}" alt="">
                    </a>
                </div>
            </div>
            <div class="inputContainer js-twoInput">
                <input type="number" placeholder="1 BTC. = 9290.01 USD">
                <select name="" id="secondSelect">
                    <option value="₽">₽</option>
                    <option value="₿" selected>₿</option>
                </select>
                <img src="{% static 'img/orangeArrow.svg' %}" alt=""
                     class="orangeArrow">
            </div>
            <a href="#/" class="orangeButton exchangeButton">Обменять</a>
        </div>
        <form action="">
            <h2 class="sectionTitle">История обменов</h2>
            <div class="tableContainer">
                <table>
                    <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Отдал Х</th>
                        <th>Получил У</th>
                        <th>Комиссия</th>
                        <th>Курс</th>
                    </tr>
                    </thead>
                    <tbody class="table-history">
                    {% for history in user_exchange %}
                        <tr>
                            <td>{{ history.create_dt|date:"d.m.Y H:i" }}</td>
                            {% if history.type == 0 %}
                                <td>{{ history.rub_value }} ₽</td>
                                <td>{{ history.btc_value }} ₿</td>
                            {% else %}
                                <td>{{ history.btc_value }} ₿</td>
                                <td>{{ history.rub_value }} ₽</td>
                            {% endif %}
                            <td>{{ history.commission }} %</td>
                            <td>{{ history.currency_usd }} ₽</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <button class="js-showMoreHistory">Загрузить ещё</button>
        </form>
    </main>
{% endblock %}
{% block js %}
    <script>
        let max_rub = {{ user_profile.rub_value|safe }};
        let max_btc = {{ user_profile.btc_value|safe }};
        let availableFoundsRub = document.querySelector('#rub');
        let availableFoundsBTC = document.querySelector('#btc');
        let currencyButton = document.getElementById("currencyButton");
        let places = [
            "1 Руб. = {{ currency.one_rub_in_us }} USD",
            "1 BTC. = {{ currency.one_btc_in_us }} USD",
            "1 USD. = {{ currency.one_dollar_in_rub }} Руб."
        ];
        let firstSelect = document.getElementById("firstSelect");
        let submitModal = document.getElementsByClassName("submitModal")[0];
        let secondSelect = document.getElementById("secondSelect");
        let exchangeButton = document.getElementsByClassName("exchangeButton")[0];
        let inputContainer = document.querySelectorAll('.inputContainer');
        let closeModal = document.querySelectorAll('.js-closeModal');

        exchangeButton.onclick = () => {
            submitModal.style.display = "block";
        }
        submitModal.onclick = () => {
            submitModal.style.display = "none";
            document.querySelector('.submitModal .error-field').innerHTML = ''
        }

        submitModal.children[0].onclick = (e) => {
            e.stopPropagation();
        }

        closeModal.forEach((elem, i) => {
            elem.onclick = () => {
                document.querySelectorAll('.modal-exchange')[i].style.display = "none";
                document.querySelector('.submitModal .error-field').innerHTML = '';
            }
        })

        currencyButton.onclick = () => {
            let firstOption = firstSelect.selectedIndex;
            let secondOption = secondSelect.selectedIndex;
            firstSelect.options[secondOption].selected = "selected";
            firstSelect.previousElementSibling.placeholder = places[secondOption]
            secondSelect.options[firstOption].selected = "selected";
            secondSelect.previousElementSibling.placeholder = places[firstOption]
            inputContainer.forEach((elem) => {
                elem.querySelector('input').value = ''
            });
            if (document.querySelector('.inputContainer.js-oneInput select').value === '₽') {
                availableFoundsBTC.style = 'display: none';
                availableFoundsRub.style = 'display: block';
            } else {
                availableFoundsRub.style = 'display: none';
                availableFoundsBTC.style = 'display: block';
            }
        }

        let showMoreHistory = document.querySelector('.js-showMoreHistory');
        let history = document.querySelectorAll('.table-history tr');

        for (let i = 2; i < history.length; i++) {
            history[i].style.display = 'none'
        }

        showMoreHistory.onclick = (e) => {
            e.preventDefault();
            let history = document.querySelectorAll('.table-history tr');

            for (let i = 2; i < history.length; i++) {
                history[i].style.display = 'table-row'
            }
        }

        function refreshSelect(s) {
            s.previousElementSibling.placeholder = places[s.selectedIndex];
        }

        document.querySelector('.inputContainer.js-oneInput select').addEventListener('change', function () {
            if (this.value === '₽') {
                availableFoundsBTC.style = 'display: none';
                availableFoundsRub.style = 'display: block';
            } else {
                availableFoundsRub.style = 'display: none';
                availableFoundsBTC.style = 'display: block';
            }
        })

        document.querySelectorAll("select").forEach((element) => {
            refreshSelect(element)
            element.onchange = () => {
                refreshSelect(element)
            }
        })
        const $crf_token = document.querySelector("input[name='csrfmiddlewaretoken']").value;
        const urlExchange = "{% url 'exchange' %}"
        let timeoutRequest = null;
        let toCurrency;

        inputContainer.forEach((elem) => {
            elem.querySelector('input').addEventListener("input", event => {
                event.preventDefault();
                if (timeoutRequest) clearTimeout(timeoutRequest);
                timeoutRequest = setTimeout(function () {
                    let fromCurrency = elem.querySelector('select').value
                    if (elem.classList.contains('js-oneInput')) {
                        toCurrency = elem.parentElement.querySelector('.js-twoInput select').value
                        elem.classList.add('from')
                        elem.classList.remove('to')
                        elem.parentElement.querySelector('.js-twoInput').classList.add('to')
                        elem.parentElement.querySelector('.js-twoInput').classList.remove('from')
                    } else {
                        toCurrency = elem.parentElement.querySelector('.js-oneInput select').value
                        elem.classList.add('from')
                        elem.classList.remove('to')
                        elem.parentElement.querySelector('.js-oneInput').classList.add('to')
                        elem.parentElement.querySelector('.js-oneInput').classList.remove('from')
                    }
                    let value = elem.querySelector('input').value
                    if (fromCurrency === toCurrency) {
                        if (elem.classList.contains('js-oneInput')) {
                            elem.parentElement.querySelector('.js-twoInput input').value = value
                        } else {
                            elem.parentElement.querySelector('.js-oneInput input').value = value
                        }
                    } else {
                        const request = new Request(urlExchange, {
                            method: 'POST',
                            headers: {
                                'X-CSRFToken': $crf_token,
                            },
                            body: JSON.stringify({
                                'from_currency': fromCurrency,
                                'to_currency': toCurrency,
                                'value': value,
                            })
                        });
                        if (value.length > 0) {
                            fetch(request).then(response => response.json()).then(result => {
                                if (elem.classList.contains('js-oneInput')) {
                                    elem.parentElement.querySelector('.js-twoInput input').value = result.data
                                } else {
                                    elem.parentElement.querySelector('.js-oneInput input').value = result.data
                                }
                                document.querySelector('#from-currency').innerText = `${value} ${fromCurrency}`
                                document.querySelector('#to-currency').innerText = `${result.data} ${toCurrency}`
                            })
                        } else {
                            inputContainer.forEach((elem) => {
                                elem.querySelector('input').value = ''
                            })
                        }
                    }
                }, 300)
            })
        })

        document.querySelector('.js-sendRequestExchange').onclick = () => {

            let value = document.querySelector('.inputContainer.from input').value
            let fromCurrency = document.querySelector('.inputContainer.from select').value
            let toCurrency = document.querySelector('.inputContainer.to select').value
            const request_exchange = new Request(urlExchange, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': $crf_token,
                },
                body: JSON.stringify({
                    'exchange_save': 'true',
                    'from_currency': fromCurrency,
                    'to_currency': toCurrency,
                    'value': value,
                })
            });
            if (fromCurrency === '₽' && value > max_rub || fromCurrency === '₿' && value > max_btc) {
                document.querySelector('.submitModal .error-field').innerHTML = 'Введенная сумма больше доступной!!'
            } else {
                document.querySelector('.submitModal .error-field').innerHTML = ''
                fetch(request_exchange).then(response => response.json()).then(result => {
                    if (result.success === true) {
                        document.querySelector('#from-currency').innerHTML = '0'
                        document.querySelector('#to-currency').innerHTML = '0'
                        inputContainer.forEach((elem) => {
                            elem.querySelector('input').value = ''
                        })
                        document.querySelector('.js-finishModal').style.display = 'block'
                        document.querySelector('.submitModal').style.display = 'none'
                        if (result.history.type === 0) {
                            document.querySelector('.table-history').insertAdjacentHTML(
                                    "afterBegin",
                                    `<tr>
                            <td>${result.history.date}</td>
                            <td>${result.history.rub_val} ₽</td>
                            <td>${result.history.btc_val} ₿</td>
                            <td>${result.history.commission} %</td>
                            <td>${result.history.currency_usd} ₽</td>
                        <tr>`
                            )
                        } else {
                            document.querySelector('.table-history').insertAdjacentHTML(
                                    "afterBegin",
                                    `<tr>
                            <td>${result.history.date}</td>
                            <td>${result.history.btc_val} ₿</td>
                            <td>${result.history.rub_val} ₽</td>
                            <td>${result.history.commission} %</td>
                            <td>${result.history.currency_usd} ₽</td>
                        <tr>`
                            )
                        }
                    } else {
                       alert('Произошла какая та ошибка!!!')
                    }

                })
            }
        }

    </script>
{% endblock %}