{% extends 'base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="modal reset-password__modal new-password__modal">
        <form method="post">
            {% csrf_token %}
            <h2>Новый пароль</h2>
            <div class="auth-text">
                Введите новый пароль.
            </div>
            <input class="hidden" type="hidden" autocomplete="username" value="{{ form.user.get_username }}">
            <input type="text" name="new_password1" placeholder="Новый пароль">
            <div class="error-field"> {{ form.new_password1.errors }}</div>
            <input type="text" name="new_password2" placeholder="Повторите новый пароль">
            <div class="error-field"> {{ form.new_password2.errors }}</div>
            <button type="submit" class="orangeButton ">Поменять</button>
            <a href="{% url 'home' %}" class="open-registration">Отмена</a>
        </form>
    </div>
{% endblock %}
