{% extends 'base.html' %}
{% load static %}
{% block title %}Восстановление пароля{% endblock %}

{% block content %}
    <div class="modal reset-password__modal">
        <form action="{% url 'password-reset' %}" method="post" id="get_link_for_new_password">
            {% csrf_token %}
            <h2>Восстановление пароля</h2>
            <div class="auth-text">
                Ссылка будет отправлена нв вашу почту.
                Проверьте папки “Входящие” или “Спам”
            </div>
            <input type="text" name="email" placeholder="Почта">
            <div class="error-field">{{ form.email.errors }}</div>
            <button type="submit" class="orangeButton">Отправить</button>
            <a href="{% url 'home' %}" class="open-registration">Отмена</a>
        </form>
    </div>
{% endblock %}
